[package]
name = "boltz-dart"
authors = ["i5hi <ishi@satoshiportal.com>, mocodesmo <morteza@satoshiportal.com>"]
version = "0.1.4"
edition = "2021"

[lib]
name = "boltzclient"
doctest = false
crate-type = ["cdylib"] 

[dependencies]
boltz-client = { git = "https://github.com/SatoshiPortal/boltz-rust.git", rev = "32a40e00a36fd80489363de09df69a55440a7bc6" }
flutter_rust_bridge = "=2.0.0-dev.31"
anyhow = "1.0.68"
serde = "1.0.89"
serde_json = "1.0.96"
openssl = { version = "0.10.64", features = ["vendored"] }
elements = "0.24.0"

[patch.crates-io]
secp256k1-zkp = {git = "https://github.com/BlockstreamResearch/rust-secp256k1-zkp.git", rev = "60e631c24588a0c9e271badd61959294848c665d"}

[build-dependencies]
flutter_rust_bridge_codegen = { version = "=2.0.0-dev.31"  }

[build]
profiler = true

[profile.release]
strip = true
opt-level = "z"
lto = true
codegen-units = 1
panic = "abort"
